<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 lead text-primary">
                <h2>Edit <%= resource_name.to_s.humanize %></h2>
                <hr>
              </div>

              <div class="col-md-4 pull-right">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addFriendModal">
                  Add friend
                </button>


               <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#acceptFriendModal">
                 pending friend
                </button>

              </div>

             


            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <div id="img-preview-block" class="img-circle avatar avatar-original center-block">
                <% if @user.image? %>
                <%= f.file_field :image, :style => 'width: 110px; overflow:hidden;margin-left:50px' %>
                  <%= image_tag @user.image.url(:medium), width:"150px", height:"150px"%>
                <% end %>
                 
                  </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                 <%= f.label :email %>
                  <%= f.email_field :email, :class => "form-control", autofocus: true, autocomplete: "email" %>
                </div>
                <div class="form-group">
                 <%= f.label :username %>
                  <%= f.email_field :username, :class => "form-control", autofocus: true, autocomplete: "username" %>
                </div>

            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <hr>
                 <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<%= link_to "Back", :back %>

 

<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row" >
    <div class="col-md-12">      
    <table class="table table-striped table-borderd">
    <tbody>

    <% @users_id = User.where('id != ?',current_user).pluck(:id) %>
    <%#= @users_id%>
    <% @frnd_id = Friendship.where('friend_id = ?',@users_id).pluck(:friend_id) %>
    <%#= @frnd_id%>
    <% @fetch_id = @users_id - @frnd_id %>
    <%#= @fetch_id%>
    <% @users = User.where('id = ?',@fetch_id) %>
    <% @users.each do |user| %>
   <tr>
        <td><%= user.username %></td>
        <td><button class="btn btn-success"><%= link_to "Add Friend", friendships_path(friend_id: user), method: :post, :style => 'color:white' %></button></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>












<div class="modal fade" id="acceptFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Friend Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ul>
        <% current_user.requested_friendships.each do |request| %>
        <li>
          <%= request.username %>
          <%= link_to "Accept",  friendship_path(id: request.id), method: "put" %>
          <%#= link_to "Decline", friendship_path(id: request.id), method: :delete %>
        </li>
        <% end %>
      </ul>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>