<div class= "pull-right">
<div class="row">
<div class=" col-md-8">
<%= form_tag(posts_path, method: :get) do %>
  Post <%= text_field_tag :title, params[:title], :key => "value", :onkeyup =>"myFunction(this.value)" %>
  <%#= submit_tag 'Search', name: nil %>
<% end %>
</div>
<div class=" col-md-4">
<%= link_to 'Home', posts_path %> | <%= link_to 'New Post', new_post_path %>
</div>
</div>
</div>
<% @posts.each do |post| %>
<p id="notice"><%= notice %></p>
<div id="search">
    <h3><%= post.title %> </h3><p><b>User:</b><%= post.user.email %></p>
    <p><%= post.body %></p>
    <td>
    <% if user_signed_in? %>
    <%= link_to 'Read Post', post %>
    <% else %>
    <%= link_to 'Please sign in For read the post', new_user_session_path %>
    <% end %>  
    </td><hr>
</div>
<% end %>
<div id="search1"></div>
<div class= "pull-right">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
</div>
  
