<script>
function sharePost(postid){
  //alert(postid)
  $("#share_post_id").val( postid );
  $('#myModal').modal('show');
  $('#myModal').on('shown.bs.modal', function() {
    $('#myModal').find('.modal-body #share_post_id').val(postid);  
 });
}
</script>


<div class= "pull-right">
<div class="row">
<div class=" col-md-8">
<%= form_tag(posts_path, method: :get) do %>
  Post <%= text_field_tag :title, params[:title], :key => "value", :onkeyup =>"myFunction(this.value)" %>
  <%#= submit_tag 'Search', name: nil %>
<% end %>
</div>
<div class=" col-md-4">
<%= link_to 'Home', posts_path %> | <%= link_to 'New Post', new_post_path %>
</div>
</div>
</div>
<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<div id="search">
    <h3><%= post.title %> </h3><p><b>User:</b><%= post.user.email %></p>
    <p><%= post.body %></p>
    <% if user_signed_in? %>
    <%= link_to 'Read Post', post%> |
     <span id="id-<%= post.id %>" onclick="sharePost('<%= post.id %>')">
      <input type="hidden" class="post_id" id="post_id" name="post_id" value="<%= post.id %>">
     <%= link_to 'Share Post', new_share_path, :remote => true, class: "share_modal", data: {toggle: "modal", target: "#modal"} %></span>
    <% else %>
    <%= link_to 'Please sign in For read the post', new_user_session_path%>
    <% end %>  
    <hr>
</div>
<% end %>
<div id="search1"></div>
<div class= "pull-right">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
</div>
  
 

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body a-unique-class">
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>