<p id="notice"><%= notice %></p>
<%= link_to 'Home', posts_path %> | <%= link_to 'New Post', new_post_path %>
<h3>
  <strong>Title:</strong>
  <%= @post.title %>
</h3>

<p>
  <strong></strong>
  <%= @post.body %>
  <%= link_to like_post_path(@post), class:"like-btn", method: :put, remote: :true do %>
<div>
	<span><p class="text-primary">Likes</i></p></span>
</div>

<span class="likes-count"><%= @post.get_upvotes.size %></span>
<% end %>
</p>

<br>
<h2> <%= @post.comments.count %> Comments</h2>
		<div class="appendCmnt"><%= render @post.comments %></div>
    <p ></p>
		<h3> Add a comments: </h3>
		<%= render 'comments/form' %>
<br>
<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path, method: :delete, data: { confirm: "Are You Sure Want to delete"} %>
<% end %>